<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="simple">
            <file>SimpleFunctionsTest.php</file>
            <file>UtilityFunctionsTest.php</file>
        </testsuite>
        <testsuite name="api">
            <directory>Api</directory>
        </testsuite>
        <testsuite name="request">
            <file>RequestTest.php</file>            
        </testsuite>
        <testsuite name="simplerrules">
            <file>SimplerruleTest.php</file>
            <file>DSTSimplerruleTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <file>../functions.php</file>
            <file>../twig_extras.php</file>
            <directory>../classes/api</directory>
            <directory>../classes</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="coverage/html" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="php://stdout" showOnlySummary="false"/>
        </report>
    </coverage>
</phpunit>